.btn {
  color: var(--main-color);
  background-color: var(--accent-color);
  padding: 12px 15px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
