:root {
  --main-color: #fff;
  --main-bg-color: #222;
  --accent-color: #398cd4;
  --error-color: #ffa3a3;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Mukta', sans-serif;
  font-size: 18px;
  color: var(--main-color);
  background-color: var(--main-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  border: none;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h2,
p {
  margin: 0;
}
