* {
    box-sizing: border-box;
}

body {
    font-size: 22px;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgb(95, 160, 145);
    margin: 0;
}

.nav-bar {
    background-color: rgb(240, 240, 240);
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    display: inline;
}

.nav-link {
    color: rgb(60, 60, 60);
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-color: rgb(95, 160, 145);
}

.nav-link-active {
    color: rgb(240, 240, 240);
    background-color: rgb(95, 160, 145);
}

.content {
    animation: fadeIn ease 1.5s;
    color: rgb(240, 240, 240);
    max-width: 1280px;
    margin: 10px auto;
}

.text-area {
    color: rgb(60, 60, 60);
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

.home-content {
    margin-top: 210px;
}

.menu-content {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 8px;
}

.menu-item {
    overflow: hidden;
}

.menu-item-img {
    max-width: 120px;
    width: auto;
    max-height: 120px;
    height: auto;

    margin-right: 10px;
    border: 1px solid black;
    border-radius: 10px;
    float: left;
}

.menu-item-price {
    float: right;
}

.big {
    margin: 0;
    padding: 0;
}

.center {
    text-align: center;
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}